{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_private_message.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<h1 class="title_message">Личные сообщения</h1>
    <div class="load_message">

    </div>
{% if friends %}
<div class="private_message">
        <audio id="messageSound" src="{% static 'audio/send_sound.mp3' %}" preload="auto"></audio>
        <audio id="messageSoundAdd" src="{% static 'audio/add_message.mp3' %}" preload="auto"></audio>
    <div class="add_friends_container">
        {% for f in friends %}
        {% if f.sent_from_id != user.id %}
            <div class="friend" data-user-id="{%  if f.sent_from.id == user.id %}{{ f.sent_to.id }}{% else %}{{ f.sent_from.id }}{% endif %}">
                <div class="avatar_name_status">
                    {% if f.sent_from.avatar %}<img src="{{ f.sent_from.avatar.url }}" alt="ava">{% else %}<img src="/media/not_avatar.jpg" alt="ava">{% endif %}
                    <div>
                        <p>{{ f.sent_from.username }}</p>
                    </div>
                </div>

            </div>
        {% else %}
            <div class="friend" data-user-id="{%  if f.sent_to.id == user.id %}{{ f.sent_from.id }}{% else %}{{ f.sent_to.id }}{% endif %}">
                <div class="avatar_name_status">
                    {% if f.sent_to.avatar %}<img src="{{ f.sent_to.avatar.url }}" alt="ava">{% else %}<img src="/media/not_avatar.jpg" alt="ava">{% endif %}
                    <div>
                        <p>{{ f.sent_to.username }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="message_block_container"></div>
</div>
<div class="container_form">
    <input class="send_form" id="message-input" maxlength="255">
    <div class="img_form">
        <i class="fas fa-paper-plane fa-lg" id="send-button"></i>
</div>

</div>

<div id="user-data" data-current-user="{{ current_user }}"></div> {# div передаёт current_user в chat_websocket_script #}
<div id="user-data-id" data-current-user-id="{{ current_user.id }}"></div> {# div передаёт current_user в chat_websocket_script #}
<script src="{% static 'js/get_private_message.js' %}"></script>
<script src="{% static 'js/private_chat_websocket_script.js' %}"></script>
{% else %}
<div class="message-not">
    <h2>У вас нет друзей!</h2>
</div>
{% endif %}
{% endblock %}

{% block footer %}{% endblock %}
