{% extends 'base.html' %}

{% load static %}
{% block title %}Bomberman{% endblock %}
{% block style %}
    <style type="text/css">
        #box{width:850px;text-align:center;}#box{margin: 15px;background-color: rgba(105, 105, 105, 0.5);padding-top: 5px;padding-bottom: 10px;border-radius: 25px;box-shadow: 5px 5px 10px #333;}
    </style>
    <script src="{% static 'game/bomb/bomb.js' %}"></script>
    <script src="{% static 'game/bomb/prefix.js' %}"></script>
{% endblock %}
{% block content %}
<body>
<div class="container_bomberman" style="display: flex;">
<div id="box"><h1>Bomberman</h1>
    <canvas id="c" width="800" height="480"></canvas>
    <div style="color:#f6ddae">Press m to toggle music</div>
</div>

    {% include 'inc/chat_websocket.html' %}


    {% include 'inc/window_modal_like_dislike.html' %}
</div>
<script>var userIsAuthenticated = {{ request.user.is_authenticated|lower }};</script> {# передаёт в скрипт request.user.is_authenticated #}
<div id="user-data" data-current-user="{{ current_user }}"></div> {# div передаёт current_user в chat_websocket_script #}

<script type="module" src="{% static 'js/chat_websocket_script.js' %}"></script> {# импортируем скрипт chat_websocket_script #}

</body>


{% endblock %}
{% block footer %}{% endblock %}