{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="Game, KerbyGame, WebDeveloper">

    <!-- Icon Site -->
    <link rel="shor tcut icon" href="{% static 'game/kerby/assets/image/icon.ico' %}" type="image/x-icon"/>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'game/kerby/assets/css/style.css' %}">



    <title>Kerby Adventures</title>
</head>
<body>

    <div id="container">
        <div id="fundoGame">
            <div id="inicio">
                <img src="{% static 'game/kerby/assets/image/TitleName1.png' %}" alt="Logo Kirby"> <br>
                <br>
               <button onclick="start()" class="btnStart" alt="logo Kerby"></button>
               <img src="{% static 'game/kerby/assets/image/teclado.png' %}" class="teclado" alt=""> <br>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="host-port" content="{{ 'http://127.0.0.1:8888/' }}">

    <script>var userIsAuthenticated = {{ request.user.is_authenticated|lower }};</script> {# передаёт в скрипт request.user.is_authenticated #}

    <!-- Sons do jogo !-->
    <audio src="{% static 'game/kerby/assets/sounds/som.mp3' %}" preload="auto" id="somDisparo"></audio>
    <audio src="{% static 'game/kerby/assets/sounds/explosao.mp3' %}" preload="auto" id="somExplosao"></audio>
    <audio src="{% static 'game/kerby/assets/sounds/musica_fundo.mp3' %}" preload="auto" id="musica"></audio>
    <audio src="{% static 'game/kerby/assets/sounds/gameover.mp3' %}" preload="auto" id="somGameover"></audio>
    <audio src="{% static 'game/kerby/assets/sounds/perdido.mp3' %}" preload="auto" id="somPerdido"></audio>
    <audio src="{% static 'game/kerby/assets/sounds/resgate.mp3' %}" preload="auto" id="somResgate"></audio>

        <!-- JS -->
    <script type="text/javascript" src="{% static 'game/kerby/assets/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/kerby/assets/js/jquery-collision.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'game/kerby/assets/js/game.js' %}"></script>

</body>
</html>