{% extends "base.html" %}
{% load static %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'style_form_comment_detai_post.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style_detail.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style_comments.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style_icon.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% endblock %}

{% block content %}
<div class="container">
    <div id="main-content" class="col-2-3">
            <div class="wrap-col">
                <div class="wrap-content">
                    <article>
                        <div class="art-header">
                            {% if detail_post.image %}
                                <img src="{{ detail_post.image.url }}"/>
                            {% endif %}
                        </div>
                        <div class="art-content">
                            <a href="#"><h3 style="font-size: 37px; line-height: 1.5;">{{ detail_post.title }}</h3></a>
                            <div class="info">{{ detail_post.created_at }}</div>
                            <div class="excerpt">Автор: <span class="author-name">{{ detail_post.author }}</span></div>
                            <p>{{ detail_post.text|safe }}</p>
                            <div class="date_icon_container">
                                <div class="excerpt"><p>Количество просмотров: {{ detail_post.views }}</p></div>
                                <div>
                                    <i class="fas fa-comment" data-comment-count="{{ comment_count }}" data-toggle="comments-{{ detail_post.id }}">{{ comment_count }}</i>
                                    <i class="fas fa-fire" data-post-id="{{ detail_post.id }}" data-like-count="{{ like_count }}">{{ like_count }}</i>
                                    <i class="fas fa-thumbs-down" data-post-id="{{ detail_post.id }}" data-dislike-count="{{ dislike_count }}">{{ dislike_count }}</i>
                                </div>
                            </div>

                        </div>
                    </article>


                </div>

            </div>

    </div>

    <div>
            <form method="post" class="form_comment_detail" data-comment-form="{{ detail_post.id }}">
                <div class="comment_input">

                    <input type="text" name="content" class="comment-input" placeholder="Введите комментарий...">
                    <input type="hidden" name="p_id" value="{{ detail_post.id }}">
                    <div class="img_form">
                        <i class="fas fa-paper-plane fa-lg" data-post-id="{{ detail_post.id }}" data-comment-form="{{ detail_post.id }}"></i>
                    </div>

                </div>
            </form>
        </div>

        <div id="comments-{{ detail_post.id }}" class="comment_container">
        {% for comment in detail_post.comments.all %}
            <div class="comment">
                <div class="coent_date">
                    <span class="author">{{ comment.author }}</span>
                    <span class="date_time">{{ comment.created_at }}</span>
                </div>
                <div class="content">{{ comment.content }}</div>
            </div>
        {% endfor %}
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{# Получаем токен в meta, для использования в скрипте js #}
<meta name="csrf-token" content="{{ csrf_token }}">

{# Импортируем скрипты добавления удаления Like и dislike из static #}
<script src="{% static 'js/toggle_like_dislike.js' %}"></script>

{# //Импортируем скрипты добавления comment из static #}
<script src="{% static 'js/comment_add_script.js' %}"></script>
{% endblock %}