{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_profile_post.css' %}">
{% endblock %}

{% block content %}
<div class="profile_container">
    <h1>Profile {{detail_profile_user.username}}</h1>
    <div class="avatar">
        {% if detail_profile_user.avatar %}
            <img src="{{ detail_profile_user.avatar.url }}" alt="ava">
        {% else %}
            <img src="/media/not_avatar.jpg" alt="ava">
        {% endif %}
        {% if detail_profile_user.status %}<div>{{ detail_profile_user.status }}</div>{% endif %}
    </div>


    <div class="data_detail_profile_container">
        <div>Имя: <span class="data">{{detail_profile_user.username}}</span></div>
        <div>Email: <span class="data">{{ detail_profile_user.email }}</span></div>
        {% if detail_profile_user.vk %}<div>VK: <span class="data">{{ detail_profile_user.vk }}</span></div>{% endif %}
        {% if detail_profile_user.instagram %}<div>Instagram: <span class="data">{{ detail_profile_user.instagram }}</span></div>{% endif %}
        {% if detail_profile_user.github %}<div>GitHub: <span class="data">{{ detail_profile_user.github }}</span></div>{% endif %}
        {% if detail_profile_user.profile_user.top_result %}<div>Лучший результат: <span class="data">{{ detail_profile_user.profile_user.top_result }}</span></div>{% endif %}
        {% if detail_profile_user.profile_user.count_game %}<div>Количество игр: <span class="data">{{ detail_profile_user.profile_user.count_game }}</span></div>{% endif %}
    </div>
    {% if detail_profile_user.about_me %}
    <div class="about_me">
        <h3>Обо мне</h3>
        <div class="about_me_text">{{ detail_profile_user.about_me }}</div>
    </div>
    {% endif %}

    <p class="accordion-button" data-toggle="post">Посты {{ detail_profile_user.username }}</p>
</div>

{% include 'inc/post_user.html' with some_variable=detail_profile_user.user_post.all %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/post_user_hide.js' %}"></script>
{% endblock %}