{% extends "base.html" %}
  {% load static %}

  {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_edit_post.css' %}">
  {% endblock %}

{% block content %}
<div class="form_container">
    <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        <label class="form-check" for="{{ form.title.id_for_label }}">Заголовок:</label>
        {{ form.title }}
    </p>

    <p>
        <label class="form-check" for="{{ form.text.id_for_label }}">Текст:</label>
        {{ form.text }}
    </p>

    <p>
        {% if form.image.value %}
            <label class="form-check" for="id_image">Изображение:</label>
            <span id="current-image-container">
                    <img id="current-image" src="{{ form.image.value.url }}" alt="Current Image" class="img_post">
            </span>
        <div class="checkbox_clear">
            <label for="image-clear_id">Очистить</label><br>
            <input class="checkbox" type="checkbox" name="image-clear" id="image-clear_id">
        </div>

        {% endif %}
        <input type="file" name="image" accept="image/*" id="id_image">
    </p>


    <div id="image-preview-container" style="display: none;" class="image-preview-container">
        <img id="image-preview" src="" alt="Image Preview" style="max-width: 100px; max-height: 100px;">
    </div>

    <input class="sendButton" type="submit" name="submitcontact" value="Опубликовать">
</form>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var input = document.getElementById("id_image");
    var img = document.getElementById("image-preview");
    var container = document.getElementById("image-preview-container");
    var label = document.querySelector('.custom-file-label');

    if (input && img && container) {
        input.addEventListener("change", function () {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    img.src = e.target.result;
                    container.style.display = "flex";
                    label.textContent = input.files[0].name; // Отображаем имя файла вместо "Выберите изображение"
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                img.src = "";
                container.style.display = "none";
                label.textContent = "Выберите изображение"; // Возвращаем стандартный текст
            }
        });
    }
});
</script>


{% endblock %}
