{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_game_page.css' %}">
{% endblock %}
{%load static%}

{% block content %}
<div class="game_all">
    <div class="game_container">
    <img class="mario_img" src="/media/doom.jpg" alt="doom">
    <div class="game_button">
        <p>JS Doom Game</p>
    <a class="game_add" href="{% url 'js_doom_game' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/bomberman.jpg" alt="doom">
    <div class="game_button">
        <p>Bomberman</p>
    <a class="game_add" href="{% url 'bomberman' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/batle_city.jpg" alt="doom">
    <div class="game_button">
        <p>Tank Iframe</p>
    <a class="game_add" href="{% url 'tank_iframe' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/tank.jpg" alt="doom">
    <div class="game_button">
        <p>Tank 2D</p>
    <a class="game_add" href="{% url 'tank' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/kirbypng.png" alt="doom">
    <div class="game_button">
        <p>Kirby</p>
    <a class="game_add" href="{% url 'kerby' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/super_mario.jpeg" alt="mario">
    <div class="game_button">
        <p>Super Mario</p>
        <a class="game_add" href="{% url 'mario' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/duck_hunt.jpg" alt="duck_hunt">
    <div class="game_button">
        <p>Duck Hunt</p>
        <a class="game_add" href="{% url 'duck_hunt' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/d_m.jpg" alt="pygbag">
    <div class="game_button">
        <p>Doom</p>
    <a class="game_add" href="{% url 'start_game' %}">Играть</a>
    </div>
</div>
<div class="game_container">
    <img class="mario_img" src="/media/pygbag.jpeg" alt="pygbag">
    <div class="game_button">
        <p>PygBag Doom</p>
    <a class="game_add" href="{% url 'pygbag' %}">Играть</a>
    </div>
</div>

</div>

</body>
<script>var userIsAuthenticated = {{ request.user.is_authenticated|lower }};</script> {# передаёт в скрипт request.user.is_authenticated #}
<script src="{% static 'js/game_add_profile.js' %}"></script>  {# импорт скрипта подсчёта кол-во игр пользователя #}

{% endblock %}