{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_profile.css' %}">
{% endblock %}
{%load static%}

{% block content %}
<div class="profile_container">
    <h1> Игра </h1>


    <li>
        <a href="{% url 'start_game' %}">Doom</a>
    </li>
    <li>
        <a href="{% url 'pygbag' %}">PygBag Doom</a>
    </li>
    <li>
        <a href="{% url 'js_doom_game' %}">JS Doom Game</a>
    </li>
</div>

</body>


{% endblock %}