{% extends 'base.html' %}
{% load static %}

    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'style_post.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style_paginate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style_comments.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style_icon.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% endblock %}
{% block content %}
    {% for p in page_obj %}
       <div class="container">
            <div class="row">
                <div class="blog-post-area-style">
                        <div class="col-md-12">
                            <div class="single-post-big">
                                <div class="big-image">
                                    {% if p.image %}
                                        <img src="{{ p.image.url }}" alt="img">
                                    {% endif %}
                                </div>
                                <div class="big-text">
                                    <h3><a href="{% url 'detail_post' slug=p.slug %}">{{ p.title }}</a></h3>
                                    <p>{{ p.text|truncatewords:40|safe }}</p>

                                    <h4><span class="date">{{ p.created_at }}</span>
                                    <span class="date">Промсотры: {{ p.views }}</span>
                                    <span class="author">Автор:
                                        <span class="author-name">
                                            <a href="{% url 'detail_profile_user' pk=p.author.id %}">{{ p.author }}</a>
                                        </span>
                                        {% if p.author.avatar %}
                                            <img src="{{ p.author.avatar.url }}" alt="ava">
                                        {% else %}
                                            <img src="/media/not_avatar.jpg" alt="ava">
                                        {% endif %}
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    <hr>
                    <div class="container_post_footer">

                        <a class="button button02" href="{% url 'detail_post' slug=p.slug %}">Читать...</a>
                        {% if request.user.is_authenticated %}
                        <form method="post" class="form_comment" data-comment-form="{{ p.id }}">
                            <div class="input_button">
                                <div class="input_button">
                                    <input type="text" name="content" class="comment-input" placeholder="Введите комментарий...">
                                    <input type="hidden" name="p_id" value="{{ p.id }}">
                                    <div class="img_form">
                                        <i class="fas fa-paper-plane fa-lg" data-post-id="{{ p.id }}" data-comment-form="{{ p.id }}"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        <div>
                            <i class="fas fa-comment" data-toggle="comments-{{ p.id }}" data-comment-count="{{ p.comment_count }}">{{ p.comment_count }}</i>
                            <i class="fas fa-fire" data-post-id="{{ p.id }}" data-like-count="{{ p.like_count }}">{{ p.like_count }}</i>
                            <i class="fas fa-thumbs-down" data-post-id="{{ p.id }}" data-dislike-count="{{ p.dis_like_count }}">{{ p.dis_like_count }}</i>
                        </div>
                    </div>
                    <div id="comments-{{ p.id }}" class="comment_container">
                        {% for comment in p.comments.all %}
                            <div class="comment">

                                <div class="comment_date">
                                    <span class="author">{{ comment.author }}</span>
                                    <div>
                                        <span class="date_time">{{ comment.created_at }}</span>
                                        {% if comment.author == request.user %}
                                            <i class="fas fa-times delete-comment" data-comment-id="{{ comment.id }}"></i>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="content">{{ comment.content|safe }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
       </div>
    {% endfor %}

{% include 'inc/paginator.html' %}

{% include 'inc/window_modal_like_dislike.html' %}

{% include 'inc/modal_delete_comment.html' %}

<script>var userIsAuthenticated = {{ request.user.is_authenticated|lower }};</script>


{# //Импортируем скрипты добавления удаления Like и dislike из static #}
<script src="{% static 'js/toggle_like_dislike.js' %}"></script>

{# //Импортируем скрипты добавления comment из static #}
<script src="{% static 'js/comment_add_script.js' %}"></script>

<script src="{% static 'js/comment_delete.js' %}"></script>

<script>
  $(document).ready(function() {
    // Скрываем все комментарии при загрузке страницы
    $(".comment_container").hide();

    // Добавляем обработчик события для иконки "fa-comment"
    $("[data-toggle^='comments-']").click(function() {
      var postId = $(this).data("toggle").split("-")[1]; // Получаем ID поста
      var commentContainer = $("#comments-" + postId); // Находим контейнер комментариев

      // Переключаем видимость комментариев
      commentContainer.toggle();
    });
  });
</script>



{% endblock %}


