{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_edit_post.css' %}">
{% endblock %}

{% block content %}

<div class="form_container">
    <div class="profile_title">
        <h1>{{title}}</h1>
    </div>

    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type="submit">Войти</button>
        <div style="margin-top:5px;">
        <a href="{% url 'login_github' %}" class="white">
            Login with GitHub <i class="fa fa-github"></i>
        </a>
</p>
</div>
    </form>

</div>

 
{% endblock %}