{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_edit_post.css' %}">
{% endblock %}

{% block content %}

<div class="form_container">
    <div class="profile_title">
        <h1>{{title}}</h1>
    </div>

    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="auth_button">
            <button class="btn btn-dark" type="submit">Войти</button>
            <a href="{% url 'login_github' %}" class="white">
                <img src="/media/github-logo.png" style="width: 44px; height: 23px;">
            </a>
            <a href="{% url 'login_vk' %}" class="white">
                <img src="/media/VK-1024x1024.png" style="width: 25px; height: 25px;">
            </a>
        </div>
    </form>
            <p>Для входа необходимо выполнить подтверждение регистрации!<br>
            Елси вы еще не подтверлили регистрацию,<br> письмо с подтверждением мы отправили вам на email.</p>


</div>

 
{% endblock content %}