{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style_profile.css' %}">{% endblock %}
{% block content %}
<div class="profile_container">
    <h1>Profile</h1>

    <div class="data_profile_container">
        <div>Имя пользователя: <span class="data">{{user.username}}</span></div>
        <div>Лучший результат: <span class="data">{{profile.top_result}}</span></div>
        <div>Количество игр: <span class="data">{{profile.count_game}}</span></div>
    </div>


    <a href="{% url 'edit_profile' %}" class="accordion-button">Редактировать профиль</a>
    <a href="{% url 'add_post' %}" class="accordion-button">Создать статью</a>
</div>

{% endblock %}