{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_edit_post.css' %}">
{% endblock %}

{% block content %}
<div class="form_container">
   <div>
      <div class="profile_title">
         <h4>Изменение профиля</h4>
      </div>
      <form method="post" class="form" enctype="multipart/form-data">
         {% csrf_token %}

         {{ form.as_p }}
         <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-dark">Подтвердить изменение профиля</button>
         </div>
      </form>
   </div>
</div>
{% endblock %}