{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_edit_post.css' %}">
{% endblock %}

{% block content %}

<div class="form_container">

  <div class="profile_title">
    <h1>{{title}}</h1>
  </div>

  <form method="post" class="form">
    {% csrf_token %}

    {% for f in form %}
      <p><label class="form-check" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
      <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button class="btn btn-dark" type="submit">Регистрация</button>
    <a href="{% url 'login_github' %}" class="white">
            ... with GitHub <i class="fa fa-github"></i>
        </a>
  </form>
</div>


{% endblock %}