{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile_container">
    <h1> TOP 10</h1>

    <div class="data_profile_container">
        <table>
            <tr><th>Аватар</th></th><th>Имя пользователя </th><th>Результат </th><th>Kerby(best) </th><th>Bomberman`</th><th>Super Mario(best) </th><th>Duck Hunt(best) </th><th>Количество игр </th> <th>Количество постов </th></tr> <!--ряд с ячейками заголовков-->
                {% for t in top %}
                    <tr>
                        <td class="avatar_table">
                            {% if t.user_name.avatar %}
                                <img src="{{ t.user_name.avatar.url }}" alt="ava">
                            {% else %}
                                <img src="media/not_avatar.jpg" alt="ava">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'detail_profile_user' pk=t.user_name.id %}">{{t.user_name.username}}</a>
                        </td>
                        <td>{{ t.top_result }}</td>

                        {% if t.kerby %}<td>{{ t.kerby.best_result }}</td>{% else %}<td>0</td>{% endif %}
                        {% if t.kerby %}<td>{{ t.bomberman.kill_npc_best }}</td>{% else %}<td>0</td>{% endif %}
                        {% if t.super_mario %}<td>{{ t.super_mario.best_result }}</td>{% else %}<td>0</td>{% endif %}
                        {% if t.duck_hunt %}<td>{{ t.duck_hunt.best_result }}</td>{% else %}<td>0</td>{% endif %}
                        <td>{{t.count_game}}</td>
                        <td>{{t.post_count}}</td>
                    </tr> <!--ряд с ячейками тела таблицы-->
                {% endfor %}
        </table>
    </div>

</div>


{% endblock %}